name: Deploy

on: push

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      OPEN_GENIUS_FOR_YOUTUBEMUSIC_ACCESS_TOKEN: ${{ secrets.OPEN_GENIUS_FOR_YOUTUBEMUSIC_ACCESS_TOKEN }}

    steps:
      - run: echo "$OPEN_GENIUS_FOR_YOUTUBEMUSIC_ACCESS_TOKEN"
